* {
  a {
    color: #545454;
  }
  h2 {
    color: #545454;
  }
  box-sizing: border-box;
}
header {
  .contact {
    background-color: #545454;
    .container {
      height: 40px;
      color: #fff;
      .row {
        .social-icons {
          display: flex;
          justify-content: end;
          align-items: center;
          height: 40px;
          a {
            color: rgb(215, 214, 214);
            margin: 0 8px;
          }
        }
        .email {
          display: flex;
          justify-content: end;
          align-items: center;
          height: 40px;
          i {
            margin: 0 6px;
            color: #e96b56;
          }
        }
        .number {
          display: flex;
          justify-content: end;
          align-items: center;
          height: 40px;
          i {
            margin: 0 6px;
            color: #e96b56;
          }
        }
      }
    }
  }
  nav {
    .container {
      .row {
        .nav-links {
          ul {
            display: flex;
            justify-content: end;
            li {
              list-style-type: none;
              margin: 0 10px;
              a {
                text-decoration: none;
                color: #545454;
                &:hover {
                  color: #e96b56;
                }
              }
            }
          }
        }
      }
    }
    .services {
      background-color: #f7f7f7;
      .row {
        padding: 12px 0;
      }
    }
  }
}
main {
  #featured {
    .container {
      .row {
        .card {
          width: 30%;
          margin: 20px;
          border-radius: 10px;
          padding: 25px;
          box-shadow: 0 0 10px 0 #a5a0a0;
          i {
            font-size: 40px;
            color: #e96b56;
            margin-top: 10px;
          }
          h5 {
            color: #545454;
            margin: 10px 0;
          }
        }
      }
    }
  }
  #about {
    .container {
      .row {
        .image {
          img {
            width: 100%;
          }
        }
        .about {
          ul {
            li {
              list-style-type: none;
              margin-bottom: 10px;
              i {
                color: #e96b56;
                margin-right: 8px;
                font-weight: lighter;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  #services {
    .cards {
      .container {
        .row {
          .card {
            width: 31%;
            margin: 15px;
            text-align: center;
            height: 300px;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: #e96b56;
              color: #fff;
            }

            .icons {
              text-align: center;
              display: flex;
              justify-content: center;
              i {
                background-color: #e96b56;
                height: 60px;
                width: 60px;
                border-radius: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: -6px -5px 1px 1px #fbe2dd;
                color: #fff;
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
  #clients {
    .container {
      .row {
        .owl-carousel {
          margin-top: 30px;
          .item {
            img {
              width: 100px;
            }
          }
        }
      }
    }
  }
}
#footer-top {
  background-color: #404040;
  .container {
    .row {
      .search {
        form {
          background: #fff;
          border-radius: 50px;
          margin-top: 30px;
          padding: 8px 10px;
          position: relative;
          .email {
            border: none;
            width: 100%;
          }
          .submit {
            top: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            border: 0;
            padding: 0 30px;
            font-size: 16px;
            margin: 3px;
            border-radius: 50px;
            background: #e96b56;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
#footer-bottom {
  background-color: #3b3b3b;
  .container {
    .row {
      h5 {
        color: #fff;
      }
      span {
        color: #fff;
      }
      .footer-navlinks {
        ul {
          li {
            list-style-type: none;
            padding: 8px 0;
            .fa-angle-right {
              color: #e96b56;
              padding: 0 8px 0 0;
            }
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
        .icons {
          display: flex;
          a {
            font-size: 18px;
            display: inline-block;
            background: #545454;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            &:hover {
              background: #e96b56;
            }
          }
        }
      }
    }
  }
}
#end {
  background-color: #404040;
  text-align: center;
  padding: 30px 0;
  p {
    color: #fff;
  }
  span {
    color: #fff;
  }
}
